.heading
{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px;
}
.welcome
{
  color: black;
  font-weight: bolder;
  font-size: 96px;
  margin-top: 100px;
}
.info
{
  font-size: 32px;
  font-weight: bolder;
  color: #E46F80;
  margin-left: 100px;
}
.login-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  margin-right: 900px
}
.input
{
  width: 634px;
  height: 60px;
  background-color: #E46F80;
  color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
  border: 1px grey;
}

.login-button
{
  width: 158px;
  height: 53px;
  color: black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 24px;
  border: 1px;
}
:hover.login-button
{
  background-color: #E46F80;
}
.note
{
  display: flex;
  flex-direction: row;
}
.login-note
{
  font-size: 24px;
  font-weight: bold;
  color:#E46F80;
  margin-top: 20px;
}
.signup-color
{
  font-size: 24px;
  font-weight: bold;
  color:black;
  margin-top: 20px;
}
