.heading
{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px;
}
.welcome
{
  color: black;
  font-weight: bolder;
  font-size: 96px;
  margin-top: 100px;
}
.info
{
  font-size: 32px;
  font-weight: bolder;
  color: #E46F80;
  margin-left: 100px;
}
.login-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  margin-right: 900px
}
.input
{
  width: 634px;
  height: 60px;
  background-color: #E46F80;
  color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
  border: 1px grey;
}

.login-button
{
  width: 158px;
  height: 53px;
  color: black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 24px;
  border: 1px;
}
:hover.login-button
{
  background-color: #E46F80;
}
.note
{
  display: flex;
  flex-direction: row;
}
.login-note
{
  font-size: 24px;
  font-weight: bold;
  color:#E46F80;
  margin-top: 20px;
}
.signup-color
{
  font-size: 24px;
  font-weight: bold;
  color:black;
  margin-top: 20px;
}
.message
{
  font-size: 20px;
  color: black;
}

/* Dashboard  */

.nav-bar
{
  background-color: #E46F80;
  height: 50px;
  display: flex;
  flex-direction:row;
  padding: 20px;
  align-items: center;
}
.username
{
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.search-box
{
  display: flex;
  flex-direction: row;
  margin-left: 500px;
  height: 30px;
  width: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.search-input
{
  width: 95%;
  border: 1px white;
  font-size:18px ;
  font-weight: bold;
}
.search-input:focus
{
  outline: none;
}
.search-icon
{
  width: 27px;
  height: 24px;
  margin-top: 5px;
}

.anime-list
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.anime-title
{
  font-size: 50px;
  font-weight: bolder;
}
.anime-content
{
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
}